@media all and(max-width: 1080px) {

}

body {
    background-image: linear-gradient(to bottom, white 20%, lightskyblue);
}

header {
    text-align: center;
    width: 100%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    font-family: secret ,Arial, serif;
    font-size: 40px;
    color: #be0829;
}

#conteneur {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

html {
    width: 100%;
    height: 100%;
}

.box {
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 6px;
    border: solid gray 1px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}

legend {
    text-align: center;
    font-weight: bold;
    font-family: Courier New, serif;

}

label{
    font-family: Courier New, serif;
    font-weight: bold;
}

.connexion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mail:before{
    color: black;
}

#mail:invalid {
    color: red;
}

/*
fieldset{
    background-image: linear-gradient(white 90%, lightskyblue);
}
*/
.sign {
    text-align: center;
}

#forgot {
    margin-top: 2%;
    margin-bottom: 2%;
    display: block;
}

#forg {
    text-decoration: underline;
    color: black;
    font-family: Courier New, serif;
}

.separateur {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 5em;
}

.or{
    display: block;
    font-family: Courier New, serif;
    padding-right: 5%;
    padding-left: 5%;
}

.sep {
    width: 100%;
    height: 1%;
    background-color: gray;
}

.bouton {
    padding: 6px;
    font: bold 13px "Courier New";
    background: #f5f5f5;
    color: #555;
    border-radius: 2px;
    /*border-radius:8px;*/
    width: 100px;
    text-decoration: none;
    border: 1px solid #ccc;
}

.bouton:hover {
    padding: 6px;
    width: 100px;
    font: bold 13px "Courier New";
    background: #478bf9;
    color: #fff;
    border-radius: 2px;
    /*border-radius:8px;*/
    border: 1px solid #ccc;
}

.bouton:active {
    background-color: #5899F9;
}

#langue {
    align-self: flex-start;
    padding-top: 7.5%;
}

@font-face {
    font-family: 'bravery';
    src: url('polices/bravery/The Bravery Lite Ver.otf') format("opentype");
    src: url('polices/bravery/The Bravery Lite Ver.ttf') format("truetype");
}

@font-face {
    font-family: 'casual';
    src: url('polices/casual/Casual-Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'reef';
    src: url("polices/reef/reef.otf") format("opentype");
}

@font-face {
    font-family: 'rixel';
    src: url("polices/rixel/rixel.otf") format("opentype");
}

@font-face {
    font-family: 'secret';
    src: url("polices/secret/TheSecret-Regular.otf") format("opentype");
    src: url("polices/secret/TheSecret-Regular.ttf") format("truetype");
    src: url("polices/secret/TheSecret-Regular.woff") format("woff");
}

@font-face {
    font-family: 'domine';
    src: url(https://fonts.googleapis.com/css?family=Domine&display=swap);
}

input{
    border-radius: 2px;
    border:solid gray 1px;
    font-family: Courier New, serif;
}

input:focus{
    border-color: cornflowerblue;
}
